<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:replace="~{fragments/header :: header}"></header>
<body>
<main class="d-flex flex-nowrap">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="container">
        <h4 class="p-4">New Member - Plan Enrollment</h4>
        <h4 class="p-4">Name: <span th:text="${member.getName()}"></span></h4>
        <form th:action="@{/v2/enrollPlan/member}" th:object="${memberPlan}" method="post">
            <input type="hidden" name="memberid" th:value="${member.getId()}" />
            <!-- Program Dropdown -->
            <div class="form-group col-md-12">
                <label for="program" class="col-sm-2 col-form-label">Program:</label>
                <div class="col-md-6">
                    <select class="form-control" id="program" required>
                        <option value="">Select Program</option>
                        <option th:each="prog : ${program}" th:value="${prog.id}"
                                th:text="${prog.programName}"></option>
                    </select>
                </div>
            </div><br/>

            <!-- Plan Duration Dropdown -->
            <!-- Dynamically populate options based on available programs -->
            <div class="form-group col-md-12">
                <label for="planDurations" class="col-sm-2 col-form-label">Plan Duration:</label>
                <div class="col-md-6">
                    <select class="form-control" id="planDurations" required>
                        <option value="">Select Plan Duration</option>
                    </select>
                </div>
            </div><br/>

            <!-- Plan Dropdown -->
            <!-- Dynamically populate options based on available plan duration -->
            <div class="form-group col-md-12">
                <label for="plan" class="col-sm-2 col-form-label">Plan:</label>
                <div class="col-md-6">
                    <select class="form-control" name="planId" id="plan" required>
                        <option value="">Select Plan</option>
                    </select>
                </div>
            </div><br/>

            <!-- From Date -->
            <div class="form-group col-md-12">
                <label for="fromDate" class="col-sm-2 col-form-label">From Date:</label>
                <div class="col-md-6">
                    <input type="date" class="form-control" id="fromDate" th:field="*{fromDate}" required>
                </div>
            </div><br/>

            <!-- Status -->
            <div class="form-group col-md-12">
                <label for="status" class="col-sm-2 col-form-label">Status:</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="status" th:field="*{status}" required>
                </div>
            </div><br/>

            <!-- Notify Day -->
            <div class="form-group col-md-12">
                <label for="notifyDay" class="col-sm-2 col-form-label">Notification Day:</label>
                <div class="col-md-6">
                    <input type="number" class="form-control" id="notifyDay" th:field="*{notifyDay}" required>
                </div>
            </div><br/>

            <div class="form-group col-md-12">

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>

<!-- Optional: Add any additional JavaScript scripts here -->
</body>
<!--for populating plan duration dropdown-->
<script th:inline="javascript">
    /* Add a JavaScript function to handle the change event of the program dropdown */
    $(document).ready(function () {
        $('#program').change(function () {
            var programId = $(this).val(); // Get the selected program ID
            var url = '/v2/fetchPlanDurations?programId=' + programId; // URL to fetch plans based on program ID

            // Make an AJAX request to fetch plan durations based on the selected program
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    // Clear existing options in the plans dropdown
                    $('#planDurations').empty();
                    $('#planDurations').append('<option>Select Plan Duration<option>');
                    // Append new options based on fetched plans
                    $.each(data, function (index, planDuration) {
                        $('#planDurations').append('<option value="' + planDuration.id + '">' + planDuration.planDurationName + '</option>');
                    });
                },
                error: function () {
                    alert('Error fetching plan durations');
                }
            });
        });
    });
</script>
<!--for populating plans dropdown-->
<script th:inline="javascript">
    /* Add a JavaScript function to handle the change event of the program dropdown */
    $(document).ready(function () {
        $('#planDurations').change(function () {
            var planDurationId = $(this).val(); // Get the selected program ID
            var url = '/v2/fetchPlans?planDurationId=' + planDurationId; // URL to fetch plans based on program ID
            // Make an AJAX request to fetch plan durations based on the selected program
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    // Clear existing options in the plans dropdown
                    $('#plan').empty();
                    $('#plan').append('<option>Select Plan<option>');
                    // Append new options based on fetched plans
                    $.each(data, function (index, plans) {
                        $('#plan').append('<option value="' + plans.id + '">' + plans.planName + ' ' + plans.fee + '</option>');
                    });
                },
                error: function () {
                    alert('Error fetching plan ');
                }
            });
        });
    });
</script>
</html>
